.category {
  color: #567070;
  font-size: 1.3rem;
  margin-top: 1.2rem;

  .row {
    cursor: pointer;
    &.alwaysOpened {
      cursor: auto;
    }
    display: flex;

    span {
      user-select: none;
      margin: {
        top: .3rem;
        left: .8rem;
      }
      font-weight: 600;
      font-size: .9rem;
      flex: 1;
    }

    img {
      width: 1.7rem;
      height: 1.7rem;
    }
    .button {
      flex: 0 0 1.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .sizes {
    padding-left: 1.8rem;
    width: calc(100% - 1.8rem);
  }
}