.modal {
  position: relative;
  background-color: white;
  width: 50vw;
  height: 80vh;
  border-radius: .4rem;
  box-shadow: .11rem .11rem .2rem rgba(75, 69, 91, .27);

  .tabs {
    position: absolute;
    top: 2.0rem;
    left: 3.0rem;
    display: flex;
    span {
      cursor: pointer;
      color: #b3c0cd;
      font-weight: 500;
      font-size: 1.4rem;
      margin-right: 1.0rem;
      &:hover, &.active {
        color: #567070;
      }
    }
  }

  .list {
    flex: 1;
    display: grid;
    margin-left: 3.0rem;
    grid-column-gap: 1.0rem;
    grid-row-gap: 1.0rem;
    align-items: end;
    & > * {
      //border: black solid 1px;
    }
    span.name {
      color: #b3c0cd;
      margin: 0 1.6rem;
      height: 2.2rem;
      font-size: 1.4rem;
    }

    div.field, div.button {
      display: flex;
      flex-direction: column;
      align-items: end;
      .field, .button{
        font-size: 1.4rem;
        height: 2.2rem;
        width: calc(100% - 1.2rem);
        border-radius: .4rem;
        background-color: #00dede;
        padding: 0 .6rem;
        display: flex;
        align-items: center;
        color: white;
      }
      .button {
        cursor: pointer;
        text-align: center;
        justify-content: center;
        &:hover {
          background-color: #00afaf;
        }
      }
    }

    div.ok {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .4rem;
      background-color: #00dede;
      height: 2.2rem;
      color: white;
      font-size: 1.4rem;
      &:hover {
        background-color: #00afaf;
      }
    }
  }

  .account {
    color: #758c9a;
    margin: 8% {
      top: 20vh
    };
    display: flex;
    flex-wrap: wrap;

    .imageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
      }

      span {
        margin-top: 2.0rem;
      }
    }
    .list {
      grid-template-columns: auto 1fr 3.6rem;
      & > *:last-child {
        margin-top: 2.0rem;
      }
    }
  }

  .plan {
    color: #758c9a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .list {
      max-width: 23.0rem;
      margin-bottom: 10.0rem;
      grid-template-columns: auto 1fr;
      .field {
        flex-direction: row;
        .numberField {
          flex: 0 0 3.0rem;
        }
      }
      & > * {
        margin-top: 2.0rem;
      }
    }
    .button {
      position: absolute;
      bottom: 32%;
      right: 18%;
      color: white;
      background-color: #00dede;
      padding: .2rem .6rem;
      border-radius: .4rem;
      cursor: pointer;
      font-size: 1.2rem;
      &:hover {
        background-color: #00afaf;
      }
    }
  }
}

span.edit {
  font-size: 1.2rem;
  cursor: pointer;
  color: #b3c0cd;

  &:hover {
    color: #666666;
  }
}
.numberField {
  color: #00dede;
  font-size: 2.0rem;
  display: grid;
  margin-left: .5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: .3rem;
  img {
    cursor: pointer;
    width: 1.0rem;
    height: 1.0rem;
  }
  span {
    margin-top: .2rem;
    font-size: 1.4rem;
    grid-area: 1 / 2 / 3 / 3;
  }
}
