.modal {
  max-width: 44vw;
  max-height: 70vh;
  background-color: white;
  border-radius: 1.0rem;
  color: #567070;
  overflow: auto;
  padding: 4.0rem;
  box-shadow: .11rem .11rem .2rem rgba(75, 69, 91, .27);
  user-select: text;
}