.item {
  display: flex;
  width: calc(100% - 6.0rem);
  margin: 1rem 2.4rem;
  font-weight: 600;
  user-select: none;
  color: #567070;
  height: 2.0rem;


  & > img {
    flex: 0 0 1.7rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .1rem;
  }

  .name, .size {
    font-size: .8rem;
    margin-top: .3rem;
  }

  .name {
    user-select: none;
    margin-left: .6rem;
    font-weight: 600;
    flex: 1;
  }

  .size {
    text-align: end;
    flex: 0 0 5.0rem;
  }

  .trash {
    flex: 0 0 1.7rem;
    margin-left: 1.5rem;
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}