.part {
  margin: 10px 40px {
    bottom: 40px;
  };
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  color: #567070;
  font-weight: 600;
  font-size: 15px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pointer {
    cursor: pointer;
  }
  .icon {
    width: 22px;
    height: 22px;
    margin: 3px {
      right: 7px;
    };
  }
}


.presetName {
  grid-area: 1 / 2 / 2 / 4;
  text-align: center;
  input {
    margin-top: 2px;
    font-weight: 600;
    font-size: 15px;
  }
}