.part {
  margin: 1.0rem 4.0rem {
    bottom: 4.0rem;
  };
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  color: #567070;
  font-weight: 600;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pointer {
    cursor: pointer;
  }
  .icon {
    width: 1.6rem;
    height: 1.6rem;
    margin: .3rem {
      left: 1rem;
    };
  }
}


.presetName {
  grid-area: 1 / 2 / 2 / 4;
  text-align: center;
  &> * {
    font-size: .9rem;
    width: 8rem;
  }
  input {
    //background-color: black;
    margin-top: .2rem;
    font-weight: 600;
  }
}