.section {
  display: flex;
  grid-area: 1 / 1 / 2 / 12;
  align-items: end;

  .buttonContainer {
    flex: 1;
    display: flex;

    &:first-child {
      margin-left: 1rem;
    }
    &:last-child {
      justify-content: end;
      margin-right: 7rem;
    }

    span {
      color: #567070;
      font-weight: 600;
      margin-top: .8rem;
      font-size: 0.9rem;
      white-space: nowrap;
      user-select: none;
    }

    input {
      color: #999999;
      width: 3.6rem;
      height: 1.0rem;
      font-size: 0.9rem;
      font-weight: 550;
      margin: {
        top: .6rem;
        left: 1rem;
        right: .8rem;
      }
    }
  }
}

.button {
  user-select: none;
  --color: #567070;
  text-transform: uppercase;
  font-weight: 700;
  height: 1.3rem;
  min-width: fit-content;
  font-size: 0.9rem;
  border: var(--color) solid .1rem;
  color: var(--color);
  border-radius: 2.0rem;
  padding: {
    top: .4rem;
    bottom: .1rem;
    right: 0.9rem;
    left: 0.9rem;
  };
  margin: {
    right: .4rem;
    left: 1.6rem;
  };
  cursor: pointer;

  &.upload > * {
    width: 5.85rem;
  }

  .animation {
    height: 2rem;
    margin-top: -.5rem;

    path {
      fill: var(--color);
    }
  }
  &:hover {
    color: white;
    background: var(--color);
    .animation path {
      fill: white;
    };
  }

}
