.section {
  display: flex;
  grid-area: 1 / 1 / 2 / 12;
  align-items: end;

  .buttonContainer {
    flex: 1;
    display: flex;

    &:first-child {
      margin-left: 1rem;
    }
    &:last-child {
      justify-content: end;
      margin-right: 7rem;
    }

    span {
      color: #567070;
      font-weight: 600;
      margin-top: 8px;
      font-size: 0.9rem;
      white-space: nowrap;
      user-select: none;
    }

    input {
      color: #999999;
      width: 3.6rem;
      height: 1.0rem;
      font-size: 0.9rem;
      font-weight: 550;
      margin: {
        top: 6px;
        left: 14px;
        right: 8px;
      }
    }
  }
}

.button {
  user-select: none;
  --color: #567070;
  text-transform: uppercase;
  font-weight: 700;
  height: 1.3rem;
  min-width: fit-content;
  font-size: 0.9rem;
  border: var(--color) solid 1px;
  color: var(--color);
  border-radius: 20px;
  padding: {
    top: 4px;
    bottom: 1px;
    right: 0.9rem;
    left: 0.9rem;
  };
  margin: {
    right: 4px;
    left: 16px;
  };
  cursor: pointer;

  &:hover {
    color: white;
    background: var(--color);
  }
}