.section {
  display: flex;
  grid-area: 1 / 1 / 2 / 12;
  align-items: end;

  &:first-child {
    margin-left: 2rem;
  }

  .buttonContainer {
    flex: 1;
    display: flex;
    margin-right: 7rem;

    span {
      color: #567070;
      font-weight: 600;
      margin-top: .8rem;
      font-size: 1rem;
      white-space: nowrap;
      user-select: none;
    }

    input {
      color: #999999;
      width: 3.6rem;
      height: 1.0rem;
      font-size: 0.9rem;
      font-weight: 550;
      border: none {
        bottom: #567070 solid .15rem;
      };
      margin: {
        top: .6rem;
        left: 1rem;
        right: 1rem;
      }
    }
  }
}

.button {
  user-select: none;
  --color: #567070;
  text-transform: uppercase;
  font-weight: 700;
  height: 1.2rem;
  min-width: fit-content;
  font-size: 0.9rem;
  border: var(--color) solid .15rem;
  color: var(--color);
  border-radius: 2.0rem;
  display: flex;
  justify-content: center;
  padding: {
    top: .3rem;
    bottom: .1rem;
    right: 1.1rem;
    left: 1.1rem;
  };
  margin: {
    right: .4rem;
    left: 1.6rem;
  };
  cursor: pointer;

  &.upload {
    width: 3.2rem;
  }
  &.download {
    width: 5.83rem;
  }

  .animation {
    height: 2rem;
    margin-top: -.5rem;

    path {
      fill: var(--color);
    }
  }
  &:hover {
    color: white;
    background: var(--color);
    .animation path {
      fill: white;
    };
  }

}
