footer.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 5.0rem;
  color: #758c9a;
  font-size: 1.3rem;
  margin-top: .4rem;
  user-select: none;
  -webkit-user-drag: none;
  span {
    font-size: .9rem;
    color: #bdccd4;
    font-weight: 600;
    &.button:hover {
      color: #666666;
    }
  }
  & > span {
    span {
      cursor: pointer;
    }
    &:first-child {
      margin-top: 1.0rem;
    }
    &:nth-child(2) {
      margin: {
        top: .6rem;
        bottom: .4rem;
      }
    }

    & > * {
      margin: {
        right: .4rem;
        left: .4rem;
      }
    }
  }
}