@font-face {
  font-family: 'Mona-Sans';
  src: url('../public/Mona-Sans.ttf') format('truetype');
  font-weight: 500;
}

* {
  font-family: "Mona-Sans", sans-serif;
  font-size: .9rem;
  letter-spacing: .05rem;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  font-size: .76vw; //TODO: Лінивий спосіб щоб нічого не налазило одне на одне
}

input[type="text"] {
  color: #567070;
  background: none;
  border: none {
    bottom: #567070 solid .1rem;
  };
  outline: none;
  text-align: center;
}

.app {
  padding: {
    right: 8.0rem;
    left: 14rem;
    top: 2rem
  };

  .workspace {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr auto repeat(9, 1fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.0rem;

    & > div {
      background: #E6FAF9;
      border-radius: .5rem;
      //padding-right: 5px;
    }

    width: 100%;
    height: calc(100vh - 8.0rem);
  }
}

.backdrop {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 997; /* Ensure the backdrop is behind the modal */
  pointer-events: none;

  &.active {
    pointer-events: auto;
    //background-color: rgba(0, 0, 0, 0.7);
  }

  &.show {
    pointer-events: auto;
    //background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  }
}

* {
  /* For WebKit-based browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 1.5rem;
    //width: .5rem; /* Set the width of the scrollbar */
    height: .5rem; /* Set the width of the scrollbar */
  }

  /* Track (background) of the scrollbar */
  &::-webkit-scrollbar-track {
    margin: .2rem;
    border-radius: .4rem;
  }

  /* Handle (thumb) of the scrollbar */
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #87d7d7;
    border-radius: 1rem; /* Rounded corners for the scrollbar handle */
    border: .50rem solid rgba(0, 0, 0, 0);
  }
}